name: Create Jira Ticket on PR

on:
  pull_request_target:
    types: [opened, reopened]

  workflow_dispatch:

jobs:
  create-jira-ticket:
    name: Convert GitHub PR to Jira Issue
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Jira
        uses: atlassian/gajira-login@master
        env:
          JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
          JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
          JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}

      - name: Create NEW JIRA ticket
        id: create
        uses: atlassian/gajira-create@v2.0.1
        with:
          project: CONUPDATE
          issuetype: Task
          summary: |
            GitHub PR | Repo: ${{ github.repository }} | PR #${{ github.event.pull_request.number }}
          description: |
            Repository: https://github.com/${{ github.repository }}
            PR Number: ${{ github.event.pull_request.number }}
            PR Title: ${{ github.event.pull_request.title }}
            PR Description:
            ${{ github.event.pull_request.body }}

            Please review and resolve the PR.
          fields: >
            {
              "components": [{"name":"Github PR"}],
              "customfield_16449":"https://classroom.udacity.com/",
              "customfield_16450":"Resolve the PR",
              "priority":{"id":"4"}
            }

      - name: Log created issue
        run: echo "Jira Issue ${{ steps.create.outputs.issue }} was created"
